*{
  margin: 0;
  padding: 0;
}
@media all and (min-width:768px) and (max-width: 1440px){

}
@media all and (min-width: 375px) and (max-width: 873px) {
  
}
@font-face {
  font-family: 'Kdam Thmor Pro', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
}
.logo{
  margin: 10px;
  padding: 5px;
}
.texto{
  font-family: 'Kdam Thmor Pro';
  caret-color: #ff0000;
}
main{
  width: 960px;
}
.seccion1{
  width: 40%;
}
